@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

.welcome {
    font-family: Syne;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: white;
    position: relative;
}
body {
    margin: 0;
}