@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

.hero {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}
.intro {
  color: #000;
  font-family: Syne;
  font-size: 59px;
  font-weight: 700;
  line-height: 115%; /* 67.85px */
  margin-bottom: 20px;
}
.yeardiv {
  width: 218px;
  height: 74px;
  border: 2px dashed black;
}
.year {
  color: black;
  font-size: 50px;
  font-weight: 600;
  margin-top: 6px;
  text-align: center;
  font-family: Syne
}
.aboutbiz {
  color: #000;
  font-family: Syne;
  font-size: 20px;
  font-weight: 500;
  line-height: 115%; /* 23px */
  width: 473px;
}
.shopbtn {
  width: 283px;
  height: 69px;
  border-radius: 34.5px;
  background: black;
  box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Syne;
  font-size: 34px;
  font-weight: 600;
}
.shopbtn:hover {
  transform: scale(0.9);
  transition: 0.5s;
  cursor: pointer;
}
.shoeimg {
    margin-top: -50px;
    padding-right: 4vw;
}

